{% extends 'views/layout.html.twig' %}

{% block body %}
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8" style="margin-left: 45%">
        <h2 class="text-lg font-medium mr-auto" style="font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; font-weight: bold ">
        DASHBOARD
        </h2>
    </div>
    <div class="mt-5" style="width: 40%">
        <h2 style="text-align: center; font-family: Avantgarde, TeX Gyre Adventor, Urw Gothic L, sans-serif; font-weight: bold">Calendrier</h2>
        <div class="intro-x box">
            <div class="p-5">
                <div class="flex">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-5 h-5 text-gray-600"><polyline points="15 18 9 12 15 6"></polyline></svg>
                    <div class="font-medium mx-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">avril</font></font></div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-5 h-5 text-gray-600"><polyline points="9 18 15 12 9 6"></polyline></svg>
                </div>
                <div class="grid grid-cols-7 gap-4 mt-5 text-center">
                    <div class="font-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lu</font></font></div>
                    <div class="font-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ma</font></font></div>
                    <div class="font-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Me</font></font></div>
                    <div class="font-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Je</font></font></div>
                    <div class="font-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ve</font></font></div>
                    <div class="font-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sa</font></font></div>
                    <div class="font-medium"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Di</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">29</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">30</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">31</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7</font></font></div>
                    <div class="py-1 bg-theme-1 dark:bg-theme-1 text-white rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">dix</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">13</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">14</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">16</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">17</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">18</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">19</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">21</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">22</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">24</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">25</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">26</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">27</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">28</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">29</font></font></div>
                    <div class="py-1 rounded relative"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">30</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">3</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">4</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">5</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">6</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">7</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">8</font></font></div>
                    <div class="py-1 rounded relative text-gray-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">9</font></font></div>
                </div>
            </div>
        </div>
    </div>

    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
        Les tâches à réaliser :
        </h2>
    </div>

    <div class="intro-y datatable-wrapper box p-5 mt-5" style="width: 50%">
        <table class="table table-report table-report--bordered display datatable w-full" >
            <thead>
            <tr>
                <th class="border-b-2 whitespace-no-wrap">ID</th>
                <th class="border-b-2 whitespace-no-wrap">Label :</th>
                <th class="border-b-2 whitespace-no-wrap">Status :</th>
            </tr>
            </thead>
            <tbody>
            {% for tache in taches %}
                <tr>
                    <td class="border-b">
                        <div class="font-medium whitespace-no-wrap">#{{ tache.id }}</div>
                    </td>
                    <td class="border-b">
                        <div class="font-medium whitespace-no-wrap">{{ tache.label }}</div>
                    </td>
                    <td class="border-b">
                        {{ tache.status ? '<span class="px-3 py-2 rounded-full bg-theme-9 text-white mr-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En cours </font></font></span>' : '<span class="px-2 py-1 rounded-full bg-theme-6 text-white mr-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Terminé </font></font></span>'}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}