{% extends 'base.html.twig' %}

{%  block body %}


        <div class="jumbotron text-center">
            <h2 class="block-title">Liste des Clients</h2>
            <i class="far fa-user fa-3x"></i>
        </div>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Chercher...">
        <button class="btn btn-info my-2 my-sm-0" type="submit">Trouver</button>
    </form>

        <div class="content content-full">
            <div class="block block-rounded block-bordered">
                <div class="block-content block-content-full">
                    <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 50px;">ID</th>
                                <th>Entreprise</th>
                                <th>Téléphone</th>
                                <th>Email</th>
                                <th class="d-none d-sm-table-cell" style="width: 25%;">Date d'inscription</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center" scope="row">1</th>
                                <td class="d-none d-sm-table-cell" style="width: 20%"><a
                                            href="{{ path('show_client') }}">Society ...</a></td>
                                <td class="d-none d-sm-table-cell" style="width: 20%">0123456789</td>
                                <td class="d-none d-sm-table-cell" style="width: 20%">Exemple@mail.fr</td>
                                <td class="d-none d-sm-table-cell"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


{% endblock %}