{% extends'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="jumbotron text-center">
            <h2>Les Devis et Factures</h2>
            <i class="fas fa-file-invoice fa-3x"></i>
        </div>

        <div class="content content-full">
            <div class="block block-rounded block-bordered">
                <div class="block-content block-content-full">
                    <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 50px;">ID</th>
                                <th class="text-center">Devis</th>
                                <th class="text-center"style="width: 120px">Status</th>
                                <th class="text-center" style="width: 50px">Utilitaire</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="d-none d-sm-table-cell" >1</td>
                                <td class="d-none d-sm-table-cell text-center"> Nom du Devis ...</td>
                                <td class="d-none d-sm-table-cell text-center">En cour</td>
                                <td class="d-none d-sm-table-cell">
                                    <a href="{{ path('show_devis') }}" class="fas fa-eye btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Voir" style="border-radius: 50px ">
                                    </a>
                                </td>
                            </tr>
                        <tr>
                            <td class="d-none d-sm-table-cell" >2</td>
                            <td class="d-none d-sm-table-cell text-center"> Nom du Devis ...</td>
                            <td class="d-none d-sm-table-cell text-center">En cour</td>
                            <td class="d-none d-sm-table-cell">
                                <a href="{{ path('show_devis') }}" class="fas fa-eye btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Voir" style="border-radius: 50px ">
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="d-none d-sm-table-cell" >3</td>
                            <td class="d-none d-sm-table-cell text-center"> Nom du Devis ...</td>
                            <td class="d-none d-sm-table-cell text-center">En cour</td>
                            <td class="d-none d-sm-table-cell">
                                <a href="{{ path('show_devis') }}" class="fas fa-eye btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Voir" style="border-radius: 50px ">
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}