{% extends'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="jumbotron text-center">
            <h2>Les Devis et Factures</h2>

        </div>
    </div>
{% endblock %}