{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron text-center" style="background-color: dimgray; border-radius: 25px; margin-top: 50px">
            <h2  style="color: white">Panneau de Gestion</h2>
        </div>
    </div>
{% endblock %}