{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="jumbotron text-center">
            <h2>Liste des Projets</h2>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-folder" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"/>
                <path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"/>
            </svg>
        </div>

        <div class="card" style="width: 15rem;">
            <img src="./pdf.png" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Projet n°1</h5>
                    <p class="card-text">Une description liée au projet. </p>
                    <a href="#" class="btn btn-primary">Telecharger
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                            <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                        </svg></a>
                    <a href="#" class="btn btn-primary">Supprimer</a>
                </div>
                <div class="card" style="width: 15rem;">
                    <img src="./pdf.png" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Projet n°1</h5>
                        <p class="card-text">Une description liée au projet. </p>
                        <a href="#" class="btn btn-primary">Télécharger</a>
                        <a href="#" class="btn btn-primary">Supprimer</a>
                    </div>
        </div>

    </div>

{% endblock %}