{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="jumbotron text-center">
            <h2>Liste des Projets</h2>
        </div>

    </div>

{% endblock %}