{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="jumbotron text-center">
        <h2>Info CLient</h2>
        <i class="far fa-user fa-3x"></i>
    </div>
</div>

{% endblock %}