{% extends 'base.html.twig' %}

{% block body %}
        <div class="jumbotron text-center">
            <h2>Info Devis</h2>
            <i class="fas fa-file-invoice fa-3x"></i>
        </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cupiditate doloribus dolorum eveniet expedita hic laboriosam, nostrum quam quasi rem, repellat, rerum vel! A asperiores deleniti dolorem ipsam neque. Rem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolore dolorum ea iusto maiores non optio quisquam, rerum voluptatibus voluptatum. Asperiores autem consequuntur deserunt doloremque facilis quasi recusandae, rerum <sit class="lorem"></sit>
            </div>
    <hr width="50%">

        <div class="content content-full">
            <div class="block block-rounded block-bordered">
                <div class="block-content block-content-full">
                    <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                        <thead>
                        <tr>
                            <th class="text-center" style="width: 50px;">ID</th>
                            <th class="text-center">Devis rattaché à :</th>
                            <th class="text-center" style="width: 50px">Utilitaire</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Society ...</td>
                            <td><a href="" class="fas fa-download fa-2x"></a></td>
                        </tr>
                        </tbody>
{% endblock %}