{%  extends 'base.html.twig' %}

{%  block body %}

    <div class="container">
        <div class="jumbotron text-center">
            <h2>Les Tâches</h2>
            <i class="fas fa-clipboard-check fa-3x"></i>
        </div>
    </div>
{% endblock %}